.customModal {
    background-color: rgb(0, 0, 0);
    width: 100vw;
    padding: 0;
}
.customModal{
    margin:0;
}
@media(min-width: 990px) {
    .customModal{
        margin-top:2vh !important;
    }
}
.customModal img{
    width: 100%;
    height: auto;
}
.react-responsive-modal-closeButton svg{
    fill: white !important;
}