#episodioAtual{
    position: absolute;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 1;
    transition: opacity .4s cubic-bezier(.665,.235,.265,.8) 0s;
    z-index: 5;
    display: flex;
    padding-top: 15%;
    padding-left: 5%;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    height: 90vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover
}
#episodioAtual h1{
    text-shadow: 2px 2px 3px #000000;
}
#episodioAtual h5{
    text-shadow: 2px 2px 3px #000000;
}
#episodioAtual p{
    text-shadow: 2px 2px 3px #000000;
    width: 50%;
    font-size: 1.2rem !important;
}
#logoFriends{
    margin-top: 3%;
    margin-left: 2%;
    position: absolute;
    z-index: 15;
}
#logoFriends img{
    width: 35%;
    height: auto;
}
#boxEpisodioAtual{
    background-image: linear-gradient(
        to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    background-size: 100% 100%;
    background-repeat: repeat-x;
    background-position: 0 top;
    width: 100%;
    height: 13vW;
    top: auto;
    top: 70%;
    z-index: 8;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
    background-color: transparent;
}
#boxEpisodios{
    z-index: 9;
    position: absolute;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 70%;
}
#temporada{
    width: 15%;
    background-color: #dd2121;
    color: white;
    padding: 1%;
    margin-left: 2%;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    cursor: pointer;
    appearance:none;
    margin-bottom: 1%;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
}
#episodios{
    padding: 0 1%;
    width: auto;
    display: flex;
    overflow: scroll;
}
#episodios::-webkit-scrollbar {
    display: none;
}
.episodioDiv{
    justify-content: flex-start;
    padding: 1% 0;
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}
.episodio{
    box-shadow: 0px 6px 5px 0px rgb(12 12 12);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex !important;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 3%;
    display: block;
    height: 50% !important;
    background-color: #4d4d4d;
    border-radius: 5px;
}
.episodeProgress{
    height: 1px !important;
    color: red;
    border-top: 4px solid;
}
.episodioDiv h6{
    height: auto;
    font-size: 0.8rem;
    
}
.episodioDiv p{
    display: -webkit-box;
    -webkit-line-clamp: 5; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2%;
    color: rgb(117, 117, 117);
    font-size: 0.8rem;
}
.episodio:hover{
    border-style: solid;
    text-decoration: none;
    border-color: white;
}
.episodio:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.rec-arrow{
   background-color: rgb(255 255 255 / 10%) !important; 
   color: rgb(124, 124, 124) !important;
}
.rec-arrow:hover{
    background-color: #dd2121 !important; 
    color: white !important;
}
.rec-arrow:disabled:hover{
    background-color: rgb(255 255 255 / 10%) !important; 
    color: rgb(124, 124, 124) !important;
}
@media only screen and (max-width: 992px) {
    #boxEpisodioAtual{
        bottom: 80px;
        height: 10vw;
        
    }
    #episodioAtual{
        padding-top: 15%;
        height: 80vh;
    }
    #episodioAtual h1{
        font-size: 1.7rem;
    }
    #boxEpisodios{
        top: 65%;
    }
    .episodioDiv{
        height: 40vh;
        width: 90vW;
    }
}
@media only screen and (max-width: 600px) {
    #logoFriends img{
        width: 45%;
    }
    #episodioAtual p{
        width: 100%;
    }
    .episodesCarrousel{
        display: none !important;
    }
    .episodesList{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #episodioAtual p{
        font-size: 1rem !important;
    }  
    #boxEpisodioAtual{
        top: 34vh;
        height: 8vw;
    }
    #episodioAtual{
        padding-top: 20%;
        height: 40vh;
    }
    #episodioAtual h1{
        font-size: 1.3rem;
    }
    #temporada{
        margin-left: 0%;
        margin-bottom: 4%;
    }
    #boxEpisodios{
        padding: 0 4%;
        top: 40%;
    }
    #temporada{
        width: 40%;
        padding: 3%;
    }
    .episodioDiv{
        margin-bottom: 3%;
        padding: 0;
        height: auto;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }
    .episodio{
        height: 20vh !important;
        background-size: cover;
        background-position: center;
        margin-right: 4%;
        margin-bottom: 01% !important;
        width: 50%;
    }
    .episodioDiv h6{
        width:40%;
        font-size: 1rem;
    }
    .episodioDiv p{
        width:100%;
        margin:3% 0;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 388px){
    #episodioAtual h1{
        font-size: 1rem !important;
    }
    #episodioAtual p,#episodioAtual h5{
        font-size: 0.7rem !important;
    }
    #boxEpisodioAtual{
        height: 15vw;
    }
}
.swiper-button-next{
    color: #dd2121  !important;
}
.swiper-button-prev{
    color: #dd2121  !important;
}
.swiper-button-disabled{
    color: #000 !important;
}