*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: rgba(20,20,20,1);
}
main{
    color: #fff;
    background-color: rgba(20,20,20,1);
    width: 100%;
    height: auto;
    overflow: auto;
}
:focus {
    outline: none !important;
}
.swiper-button-next{
    color: #dd2121  !important;
}
.swiper-button-prev{
    color: #dd2121  !important;
}
.swiper-button-disabled{
    color: #000 !important;
}
.swiper-slide{
    width: auto !important;
    margin-right: 2vh;
}
